<h1><%= @name %></h1>
<article><%= @content %></article>

<div class="meta">
	This page was last updated on: 
	<%= @page.version.authored_date.strftime("%Y-%m-%d") %>. Page incomplete? <a href="mailto:support@goplanapp.com">Please get in touch</a>. Thanks!
</div>