<!doctype html>
<head>
	<title><%= @name %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/screen.css">
</head>
<body>
	<nav>
		<a href="http://goplanapp.com">Goplan</a>
		<a href="http://blog.goplanapp.com">Blog</a>
		<a href="http://status.goplanapp.com">Status</a>
		<a href="/">Help</a>
	</nav>
	<h1><%= @name %></h1>
	<%= @content %>
</body>
</html>
