<!doctype html>
<head>
	<title><%= @name %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/text.css">
	<link rel="stylesheet" href="/css/960.css">
	<link rel="stylesheet" href="/css/screen.css">
</head>
<body>
<div class="black clearfix">
	<div class="container_12">
		<div id="logo" class="grid_8 prefix_2">
			<img src="/img/tick.png"> 
			<strong>Goplan</strong> 
			<em>- Documentation, Guides and Product Roadmap -</em>
			<a href="http://goplanapp.com">Homepage</a> / 
			<a href="http://blog.goplanapp.com">Blog</a> / 
			<a href="http://status.goplanapp.com">Status</a>
		</div>
	</div>
</div>

	<div class="container_12">
		<div id="content" class="grid_8 prefix_2">
			<div class="note">
				<h1><%= @name %></h1>
				<article><%= @content %></article>			
			</div>
		</div>
		
		<div id="footer" class="grid_8 prefix_2">
			<div>
				Goplan is a product of <a href="http://webreakstuff.com">Webreakstuff</a> / Contact our support team by emailing <a href="mailto:support@goplanapp.com">support@goplanapp.com</a>
			</div>
		</div>
	</div>
</body>
</html>
